.site-footer {
  color: #ffffff;
  background-color: #000000;
  section {
    &.widget {
      margin-bottom: 15px;
    }
  }
}
.site-footer__multi--column {
  border-top: 1px solid #4b4c4d;
  padding: 30px 0;
  font-size: 14px;

  .widget {
    .widget-title {
      position: relative;
      color: #ffffff;
      padding-bottom: 20px;

      &:after {
        position: absolute;
        content: "";
        width: 14%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $background-primary;
      }
    }
    a {
      color: #ffffff;

      &:hover {
        color: $color-hover;
      }
    }
    ul {
      li {
        padding: 0;
        border-bottom: 0;
      }
    }
  }
}
.site-footer__copyright {
  border-top: 1px solid #4b4c4d;
  padding: 10px 0;
}
.site-copyright {
  font-size: 12px;

  p {
    &:last-child {
      margin: 0;
    }
  }
}
.site-footer__menu {
  text-align: right;
  @include flex(1);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      padding-right: 10px;
      padding-left: 5px;

      &:not(:last-child) {
        &:after {
          position: absolute;
          content: '';
          width: 1px;
          height: 15px;
          right: 0;
          top: 50%;
          background-color: #ffffff;
          @include transform(translateY(-50%));
        }
      }
      &:last-child {
        padding-right: 0;
      }
      a {
        font-size: 12px;
        color: #ffffff;

        &:hover {
          color: $color-hover;
        }
      }
    }
  }
}